@import 'doubleu23-stylus/normalize'
@import 'doubleu23-stylus/inc/helpers'
// @import 'doubleu23-stylus/mqs'


div, span,
h1, h2, h3
    box-sizing border-box

h1, h2
    margin 0 0 1.3rem
    .sub, .subTitle
        display block
        margin-top .3rem

span, p
    line-height 1.2rem
    margin-top 1.5rem

// TBD: use .indent rule
#wrapper
    > div
        padding 0 1rem
