@import 'doubleu23-stylus/normalize'
@import 'doubleu23-stylus/inc/helpers'
// @import 'doubleu23-stylus/mqs'


div, span,
h1, h2, h3
    box-sizing border-box

h1, h2, h3
    margin 1rem 0 1.5rem

#wrapper
    > div
        padding 0 1rem
