@import 'doubleu23-stylus'

body
    color darken(#ff0000, 40%) // nib (stylus lib) function



.testClassName
    :after
        display block
        content 'typeof DEBUG: ' + $TESTENVPREFIX__DEBUG
