{
  "root": true,
  "extends": ["standard", "standard-babel"],
  "plugins": [
    "react", "promise", "chai-expect", "import", "babel"
  ],
  "env": {
    "browser": true,
    "mocha": false,
    "es6": true,
    "node": false
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "classes": true
    }
  },
  "globals": {
    "module": true,
    "global": true,
    "require": false,
    "process": false,
    "__dirname": false,
    "__filename": false
  },
  "rules": {
    // padded-blocks is a little bit broken
    // it's set in "eslint-config-standard"
    // - it ignores classes locally but not in travis
    // the enhancement/refactoring should fix this
    // https://github.com/idearium/developers/pull/12
    "padded-blocks": [2, {
        "classes": "always",
        "switches": "always",
        "blocks": "never"
    }],
    no-multiple-empty-lines: ["error", { "max": 3}],
    indent: ["error", 4, {
        "outerIIFEBody":    4,
        // "VariableDeclarator": { "var": 1, "let": 1, "const": 2 },
        "MemberExpression": 1
    }],
    "react/jsx-indent": [2, 4], // no error on lower indent size
    "one-var": ["error", {var: "always", let: "always", const: "never"}],
    //
    // CUSTOM RULES
    //
    "space-before-function-paren": ["error", {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "never"
    }],
    "arrow-parens": [2, "as-needed"],
    "func-style": ["error", "expression"],
    // "prefer-arrow-callback": [1, { "allowUnboundThis": false }],
    "no-multi-spaces": [0, { "exceptions": { "ImportDeclaration": true, "Property": true, "VariableDeclarator": true } }],
    // eslint has problems with async/await and lints the compiles generator
    "generator-star-spacing": [0, {"before": false, "after": false}],
    "key-spacing": 0,
    "no-unused-vars": 1, // because 'await' is only for assignments
    "operator-linebreak": 0, // JSX "if"s with && and ||
    //
    // eslint-plugin-import
    // "import/ignore": [1, ['\.(scss|less|css|styl|stylo)$']],
    "import/no-unresolved": [2, {"commonjs": true, "amd": true, "ignore": ['\.(scss|less|css|styl|stylo)$']}],
    "import/namespace": 1,
    "import/named": 2,
    "import/default": [1, {"ignore": ['\.(scss|less|css|styl|stylo)$']}],
    "import/export": 2,
    //
    // ECMAScript 6
    //
    // These rules are only relevant to ES6 environments and are off by default.
    //
    "no-var": 2, // require let or const instead of var (off by default)
    //
    // Legacy
    //
    // The following rules are included for compatibility with JSHint and JSLint.
    // While the names of the rules may not match up with the JSHint/JSLint counterpart,
    // the functionality is the same.
    //
    "max-depth": [2, 3], // specify the maximum depth that blocks can be nested (off by default)
    "max-len": [2, 255, 2], // specify the maximum length of a line in your program (off by default)
    "max-params": [2, 7], // limits the number of parameters that can be used in the function declaration. (off by default)
    "max-statements": 0, // specify the maximum number of statement allowed in a function (off by default)
    "no-bitwise": 0, // disallow use of bitwise operators (off by default)

    //
    // eslint-plugin-react
    //
    // React specific linting rules for ESLint
    //
    "react/display-name": 0, // Prevent missing displayName in a React component definition
    "react/jsx-no-undef": 2, // Disallow undeclared variables in JSX
    "react/jsx-sort-props": 0, // Enforce props alphabetical sorting
    "react/jsx-uses-react": 2, // Prevent React to be incorrectly marked as unused
    "react/jsx-uses-vars": 2, // Prevent variables used in JSX to be incorrectly marked as unused
    "react/no-did-mount-set-state": 2, // Prevent usage of setState in componentDidMount
    "react/no-did-update-set-state": 2, // Prevent usage of setState in componentDidUpdate
    "react/no-multi-comp": 0, // Prevent multiple component definition per file
    "react/no-unknown-property": 2, // Prevent usage of unknown DOM property
    "react/prop-types": 2, // Prevent missing props validation in a React component definition
    "react/react-in-jsx-scope": 2, // Prevent missing React when using JSX
    "react/self-closing-comp": 2, // Prevent extra closing tags for components without children
    "react/jsx-wrap-multilines": 2, // Prevent missing parentheses around multilines JSX
    "react/sort-comp":  2, // Fixed order of lifecycle methods
    "react/no-is-mounted": 2, // Do not use isMounted lifecycle -> deprecated
    "react/no-string-refs": 2,
    "react/jsx-boolean-value": 0, // Omit the value of the prop when it is explicitly true
    "react/jsx-curly-spacing": 2, // Do not pad JSX curly braces with spaces
    "react/jsx-closing-bracket-location": 2,
    "react/jsx-pascal-case": 2,
    "react/prefer-es6-class": 2,
    "react/prefer-stateless-function": [0, {"ignorePureComponents": false}],
    // "react/require-render-return": 2, // Definition for rule 'react/jsx-wrap-multilines' was not found
    // "react/jsx-wrap-multilines": 2 // Prevent missing parentheses around multilines JSX  // Definition for rule 'react/jsx-wrap-multilines' was not found
  }
}
