# env settings
language: node_js
node_js: '5.7'
# travis script adaptions
branches:
  only:
    - master

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

cache:
    apt: true
    npm: false
    directories:
        - $HOME/.npm

before_install:
  # - npm install -g node-gyp
  # force travis to use npm :(
  # official solution (install: npm install) doesnt work
  # https://docs.travis-ci.com/user/languages/javascript-with-nodejs/#Travis-CI-supports-yarn
  - rm yarn.lock
  - npm install -g gulp

# force travis to use npm
# because yarn fucks up the postinstall builds of packages
install:: npm install

script:
    - NODE_ENV=development gulp lint
    #- gulp karma
