language: node_js

node_js: '6.9.0'

branches:
  only:
    - master

env:
    - "Travis Test Run":
        - CXX=g++-4.8
        - PHANTOMJS_BIN=node_modules/phantomjs-prebuilt/bin/phantomjs
        - DEBUG=true
        - NODE_ENV=TEST

addons:
  apt:
    sources:
        - ubuntu-toolchain-r-test
    packages:
        - g++-4.8

cache:
    apt: true
    # npm: false
    # directories:
    #     - $HOME/.npm

before_install:
    - echo $CXX
    # prefer global
    - npm install -g node-gyp
    - npm install -g marked
    # should always be global
    - npm install -g gulp

# force travis to use npm
# because yarn fucks up the postinstall builds of packages
# resulting in error: 'could not locate bindings'
install: npm install

script:
    - gulp lint
    - gulp karma
