# env settings
language: node_js
node_js: '5.7'
# travis script adaptions
branches:
  only:
    - master

env:
  - CXX=g++-4.8

# addons:
#   apt:
#     sources:
#       - ubuntu-toolchain-r-test
#     packages:
#       - g++-4.8

# before_install:
  # - npm install -g node-gyp

# build script
install::
    - npm install
    - npm install -g gulp

script:
    - NODE_ENV=development gulp lint
    #- gulp karma
