language: node_js

node_js: '5.7'

branches:
  only:
    - master
env:
    - CXX=g++-4.8
    - PHANTOMJS_BIN=node_modules/phantomjs-prebuilt/bin/phantomjs

addons:
  apt:
    sources:
        - ubuntu-toolchain-r-test
    packages:
        - g++-4.8

cache:
    apt: true
    npm: false
    directories:
        - $HOME/.npm

before_install:
    - npm install -g gulp

# force travis to use npm
# because yarn fucks up the postinstall builds of packages
# resulting in error: 'could not locate bindings'
install: npm install

script:
    - NODE_ENV=development gulp lint
    - NODE_ENV=development gulp karma
