# env settings
language: node_js
node_js: '5.7'
# travis script adaptions
branches:
  only:
  - master
# build script
script:
- rm node_modules/* -rf
- npm cache clean
- npm install
- gulp lint
- gulp karma
