@import 'doubleu23-stylus/inc/mixins.styl'

#campaigns
    margin-top 2rem
    .campaignLocation
        margin-bottom 1rem
    #campaignDataMeta
        margin-top 3rem

.fieldName
    font-weight bold
    display inline-block
    margin-top 0.6rem
    margin-bottom 0.4rem


#benefitsList
    #beneftisListInner
        cf()
        width 100%
    .benefitListElement
        cursor      pointer
        width       245px
        height      120px
        float       left
        margin      10px 10px 0 0
        box-shadow   0px 0px 8px rgba(30, 30, 30, 0.6)
        position    relative
        overflow    hidden
        &:hover .benefitListElementOverlay
            top 0
        .benefitListElementOverlay
            padding             0.5rem
            color               #fff
            background-color    rgba(30, 30, 30, 0.7)
            position            absolute
            width               100%
            height              100%
            top                 75px
            transition          top 150ms ease-in
            .benefitListElementTitle
                display         block
                font-weight     bold
                margin-bottom   1rem
                height          2rem
            .benefitListElementInfo
                display         block
                white-space     nowrap
                overflow        hidden
                text-overflow   ellipsis
                // max-height      66px
                width           245px

#locations
    .locationPaper
        position relative
        padding-top 2rem !important
    .locationPaperDelete
        color #fff
        text-decoration none
        font-weight bold
        position absolute !important
        top 0
        right 0
        padding 4px 8px 8px 8px
