@import '/app/styles/variables.styl'

.sidebar
    // properties for all subelements
    // we use "> *" because targeting the tags (h1, p, ...)
    // will overwrite inline styles of react/material-ui components (per native CSS prio)
    > *
        color $palette['content'];

    // .title
    .subTitle
        font-size 0.8rem
