{
  "env": {
    "jasmine": true,
    "mocha": true
  },
  "globals": {
    "sinon": true,
    "sandbox": true,
    "Should": true
  },
  rules: {
    "react/prefer-es6-class": 0,
    "arrow-parens": 0,
    "func-style": 0,
    "prefer-arrow-callback": 0
    // "no-unused-expressions": 0
  }
}
